[Unit] 
Description= Photobootxl Bot

[Service] 
Type= simple 
ExecStart= /home/pi/.bun/bin/bun run /home/pi/Developer/photobootxl/bot.ts
WorkingDirectory= /home/pi/Developer/photobootxl
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target